<div class="event">
  <div class="title">
    <div class="time">
      <div class="month">
        <%= get_event_month(event) %>
      </div>
      <div class="date">
        <%= get_event_date(event) %>
      </div>
    </div>
    <a href='<%= event_path(event) %>' style="text-decoration: none">
      <h2>
        <%= event.name %>
      </h2>
    </a>
  </div>
  <p>
    <%= event.short_description.first(320) %>...
  </p>
</div>
