<a href="<%= room_path(room) %>">
  <div class="room">
    <div class="image">
      <%= image_tag room.image.url(:medium) %>
    </div>
    <div class="text">
      <h2><%= room.name %></h2>
      <% if controller_name == 'rooms' %>
        <p><%= room.short_description if room.short_description %></p>
      <% else %>
        <p><%= room.home_page_description if room.home_page_description %></p>
      <% end %>
      <div class="cta">
        STARTING AT $<%= room.rate %>
      </div>
    </div>
  </div>
</a>
