<a href="<%= room_path(room) %>">
  <div class="room">
    <div class="image">
      <%= image_tag room.image.url(:medium) %>
    </div>
    <div class="text">
      <h2><%= room.name %></h2>
      <p><%= room.short_description %></p>
      <div class="cta">
        STARTING AT $<%= room.rate %>
      </div>
    </div>
  </div>
</a>
