<div class="booking wrapper">
  <div class="hero">
    <div class="shade"></div>
    <img src="/assets/IMG_9239ava.jpg">
    <h2>BOOKING</h2>
  </div>

  <div class="body">
    <div class="your-stay">
      <% flash.each do |key, value| %>
        <div class="flash" id="<%= key %>">
          <%= value %>
        </div>
      <% end %>
      <h2>YOUR STAY</h2>
      <div class="checkincheckout">
        <div class="checkin row">
          <div class="type">CHECK-IN</div>
          <div class="month"><%= to_month($arrival) %></div>
          <div class="date"><%= to_date($arrival) %></div>
        </div>

        <div class="checkout row">
          <div class="type">CHECK-OUT</div>
          <div class="month"><%= to_month($departure) %></div>
          <div class="date"><%= to_date($departure) %></div>
        </div>

        <div class="guests row">
          <div class="type">GUEST(S)</div>
          <div class="date"><%= $guests %></div>
        </div>

        <div class="room row">
          <div class="type">ROOM(S)</div>
          <% @reserved_rooms.each do |room| %>
            <div class="room"><%= get_room_name(room) %> x <%= get_room_amount(room) %></div>
          <% end %>
        </div>

        <div class="total row">
          <div class="type">TOTAL</div>
          <div class="amount">$<%= get_total_amount($arrival, $departure, @reserved_rooms) %></div>
        </div>
      </div>
    </div>
  </div>
</div>
