<div class="choose-your-room wrapper">
  <div class="hero">
    <div class="shade"></div>
    <img src="/assets/IMG_9167.jpg">
    <h2>CHOOSE YOUR ROOM</h2>
  </div>

  <div class="body" id="body">
    <%= simple_form_for :reservation, url: booking_path do |f| %>
      <%= f.input :arrival_date, as: :hidden, input_html: {value: $arrival} %>
      <%= f.input :departure_date, as: :hidden, input_html: {value: $departure} %>
      <%= f.input :guests, as: :hidden, input_html: {value: $guests} %>
      <%= f.fields_for :rooms do |f| %>
        <% @rooms.each do |room| %>
          <%= f.fields_for "room_#{room.id}" do |f| %>
            <%= f.input :room_id, as: :hidden, input_html: {value: room.id} %>
            <%= f.input :amount, as: :hidden, input_html: {value: 0} %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <div class="your-stay">
      <% flash.each do |key, value| %>
        <div class="flash" id="<%= key %>">
          <%= value %>
        </div>
      <% end %>
      <h2>YOUR STAY</h2>
      <div class="checkincheckout">
        <div class="checkin time">
          <div class="type">CHECK-IN</div>
          <div class="month"><%= to_month($arrival) %></div>
          <div class="date"><%= to_date($arrival) %></div>
        </div>

        <div class="checkout time">
          <div class="type">CHECK-OUT</div>
          <div class="month"><%= to_month($departure) %></div>
          <div class="date"><%= to_date($departure) %></div>
        </div>

        <div class="guests time">
          <div class="type">GUEST(S)</div>
          <div class="date"><%= $guests %></div>
        </div>
      </div>
    </div>

    <div class="rooms">
      <% @rooms.each do |room| %>
        <%= render 'room2', room: room %>
      <% end %>
      <div class="checkout">
        <a href="#">
          <div class="cta" id="checkout">
            CHECKOUT
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
