<div class="choose-your-room wrapper">
  <div class="hero">
    <div class="shade"></div>
    <img src="/assets/IMG_9167.jpg">
    <h2>CHOOSE YOUR ROOM</h2>
  </div>

  <div class="body">
    <div class="your-stay">
      <h2>YOUR STAY</h2>
      <div class="checkincheckout">
        <div class="checkin time">
          <div class="type">CHECK-IN</div>
          <div class="month"><%= to_month($arrival) %></div>
          <div class="date"><%= to_date($arrival) %></div>
        </div>

        <div class="checkout time">
          <div class="type">CHECK-OUT</div>
          <div class="month"><%= to_month($departure) %></div>
          <div class="date"><%= to_date($departure) %></div>
        </div>

        <div class="guests time">
          <div class="type">GUEST(S)</div>
          <div class="date"><%= $guests %></div>
        </div>
      </div>
    </div>

    <div class="rooms">
      <% @rooms.each do |room| %>
        <%= render 'room2', room: room %>
      <% end %>
    </div>
  </div>
</div>
