<div class="hero">
  <div class="shade"></div>
  <img src="/assets/IMG_4383a.jpg">
  <h2>CONTACT US</h2>
</div>

<div class="row contact" id="form">
  <h2>GET IN TOUCH</h2>
  <div class="seperator"></div>
  <% flash.each do |key, value| %>
    <div class="flash" id="<%= key %>">
      <%= value %>
    </div>
  <% end %>
  <div class="contact-form">
    <%= simple_form_for :contact_form, url: contact_path do |f| %>
      <div class="fields">
        <%= f.input :name, placeholder: "Your Name" %>
        <%= f.input :email, placeholder: "Your Email" %>
        <%= f.input :body, as: :text, placeholder: "Your Message" %>
      </div>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>

<div class="row maps">
  <iframe frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJb-hKuRYvdTERRpk5BGEdPwQ&key=AIzaSyCT0eLTQXqzq8z0Kx7mUHflaPYZD3qG4Rg" allowfullscreen></iframe>
</div>
