<h1>Hi <%= @customer_name %></h1>

<p>Thank you for making a reservation, the following is your receipt:</p>

<p>Your email: <%= @customer_email %></p>
<p>Your time of arrival: <%= @checkin_time %></p>
<p>Your time of leaving: <%= @checkout_time %></p>
<p>Number of guest(s): <%= @guests %></p>
<p>Room(s): <%=@rooms %></p>
