<h1>New reservation from <%= @customer_name %></h1>

<p>Customer's email: <%= @customer_email %></p>
<p>Customer's time of arrival: <%= @checkin_time %></p>
<p>Customer's time of leaving: <%= @checkout_time %></p>
<p>Number of guest(s): <%= @guests %></p>
<p>Room(s): <%=@rooms %></p>
