<!DOCTYPE html>
<html>
  <head>
    <title>Memoires De Saigon</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <div class="wrapper">

      <div class="nav-wrapper">
        <div class="nav">
          <a href="/">
            <div class="logo"></div>
          </a>
          <div class="hamburger">≡</div>
          <ul class="items">
            <li class="exit">×</li>
            <li><%= link_to "Home", root_path, class: current_page(root_path) %></li>
            <li><%= link_to "Stay", stay_path, class: current_page(stay_path) %></li>
            <li><%= link_to "Explore", explore_path, class: current_page(explore_path) %></li>
            <li><%= link_to "Share", share_path, class: current_page(share_path) %></li>
            <li><%= link_to "Contact", contact_path, class: current_page(contact_path) %></li>
          </ul>
        </div>
      </div>

      <div class="body">
        <%= yield %>
      </div>

    </div>

  </body>
</html>
